.nv-file-over {
  border: 3px dotted red;
}

input[type=file] {
  color: transparent;
}

.photo-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-container {
  margin-top: 20px;
  margin-bottom: 40px;
}
