<div class="card-body">
    <div class="justify-content-center">
<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="mb-3">
        <input
            type="text"
            name="username"
            class="form-control mb-3"
            [(ngModel)]="model.username"
            placeholder="Username"
        >
        <div class="mb-3">
            <input
                type="password"
                class="form-control mb-3"
                name="password"
                [(ngModel)]="model.password"
                placeholder="Password"
                >
        </div>
        <div class="text-center">
            <button class="btn btn-success me-2" type="submit">Register</button>
            <!-- <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button> -->
        </div>
        <h3 class="text-center text-primary">Or</h3>
            <hr>
            <div class="text-center">
                <div class="mb-1">
                    <button class="btn btn-primary"  (click)="msLogin()" type="button" >Sign up with Microsoft</button>
                </div>
                <div class="mb-1">
                    <button class="btn btn-primary" (click)="demoLogin()" type="button">Log in as Demo User</button>
                </div>
        </div>
    </div>
</form>
</div>
</div>
