<div class="card mb-4" *ngIf="member">
  <div class="card-img-wrapper">
    <img src="{{member.profilePicUrl}}" alt="{{member.displayName}}" class="card-img-top img img-responsive full-width">
    <ul class="list-inline user-icons animate text-center">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/users/{{member.userName}}"><i class="fa fa-user" ></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fa fa-user-plus"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fa fa-envelope"></i></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      <i class="fa fa-user me-2"></i>
      {{member.displayName}}
    </h6>
    <p class="card-text text-muted text-center">{{member.userName}}</p>
  </div>
</div>
